<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

    <title>Sejarah Perkembangan Teknologi</title>
</head>
<body>
    
    <section class="main" id="main">
        <nav class="navbar">
            <a href="#main">Cover</a>
            <a href="#materi">Materi</a>
            <a href="#">Daftar Pustaka</a>
        </nav>
        <div class="cover">
            <figure class="text-center">
                <blockquote class="blockquote">
                  <p>Sejarah Perkembangan Teknologi</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  NX <cite title="Source Title">Nathan</cite>
                </figcaption>
              </figure>
        </div>
    </section>
    <section class="materi" id="materi">
        <div class="paragraph">
            <h3>
                Teknologi masa pra-sejarah
                <small class="text-body-secondary">Zaman Batu</small>
            </h3>
            <div class="text-image">
                <p class="lead">
                    Pada zaman batu, aktivitas manusia terbatas pada berburu dan meramu dan hidupnya secara umum masih berpindah-pindah, sehingga 
                    perkakas atau peralatan yang digunakan manusia pada zaman ini pun terbatas untuk menunjang aktivitas tersebut. Kebanyakan 
                    peralatan pada zaman ini terbuat dari batu dan tulang, setiap peralatan pun telah memiliki kegunaan khusus seperti untuk menebang 
                    pohon, berburu, menguliti hewan dan lain-lain. Sebelum munculnya manusia modern atau homo sapiens, manusa purba juga telah 
                    diketahui memanfaatkan batu sebagai peralatan penunjang aktivitasnya. Bukti pertama digunakannya perkakas yang terbuat dari batu 
                    ditemukan di Ethiopia yang merujuk pada 2.5 juta tahun yang lalu. Pada zaman ini manusia juga telah mengenal api, meskipun 
                    baru dimanfaatkan sebagai senjata untuk menghadapi makhluk hidup lain, atau untuk menakuti binatang buruan.
                </p>
                <div class="text-center">
                    <img src="../assets/images/zaman-batu.jpg" class="rounded">
                </div>
            </div>
        </div>

        <div class="paragraph">
            <h3>
                Teknologi masa pra-sejarah
                <small class="text-body-secondary">Zaman Perunggu</small>
            </h3>
            <div class="text-image">
                <p class="lead">
                    Zaman perunggu adalah zaman awal di mana logam mulai dimanfaatkan bagi kepentingan manusia. Ada dua teknik pengolahan perunggu yang dikenal 
                    pada masanya yakni : <br><br>
                    <em><strong>Teknik a cire perdue</strong></em> : teknik ini dilakukan dengan membuat bentuk benda yang dikehendaki dengan lilin, setelah membuat model dari lilin maka ditutup dengan menggunakan tanah, dan dibuat lubang dari atas dan bawah. Setelah itu dibakar, sehingga lilin yang terbungkus dengan tanah akan mencair, dan keluar melalui lubang bagian bawah. Untuk selanjutnya melalui lubang bagian atas dimasukkan cairan perunggu, dan apabila sudah dingin, cetakan tersebut dipecah sehingga keluarlah benda yang dikehendaki. <br>
                    <em><strong>Teknik bivalve</strong></em> : teknik ini menggunakan cetakan yang ditangkupkan dan dapat dibuka, sehingga setelah dingin cetakan tersebut dapat dibuka, maka keluarlah benda yang dikehendaki. Cetakan tersebut terbuat dari batu ataupun kayu. <br><br>
                    Benda-benda yang dihasilkan pada zaman ini seperti kapak corong, pedang, nekara dan lain-lain. Selain menekankan pada pemanfaatan logam, pada 
                    awal zaman perunggu manusia telah mengenal roda, yang menunjang aktivitas ekonomi secara signifikan. Di Indonesia, perkakas yang merupakan 
                    peninggalan zaman perunggu diantaranya: kapak corong, nekara, arca, bejana perunggu dan lain sebagainya
                </p>
            </div>
        </div>

        <div class="paragraph">
            <h3>
                Teknologi masa pra-sejarah
                <small class="text-body-secondary">Zaman Besi</small>
            </h3>
            <div class="text-image">
                <p class="lead">
                    Secara umum teknik pengolahan logam pada zaman besi serupa dengan zaman perunggu. Hanya saja perkakas yang digunakan lebih kuat 
                    karena menggunakan besi. Besi merupakan material yang lebih keras daripada perunggu dan juga lebih melimpah persebarannya. 
                    Artefak paling awal terbuat dari besi ditemukan di Gerzeh, Mesir yang berupa sembilan buah manik-manik yang merujuk pada tahun 
                    3200 sebelum masehi. Bahasa manusia pun telah berkembang jauh lebih kompleks pada zaman ini di mana pada akhirnya akan 
                    mengenal tulisan.
                </p>
            </div>
        </div>

        <div class="paragraph">
            <h3>
                Teknologi zaman kuno
                <small class="text-body-secondary">Peradaban Mesir Kuno</small>
            </h3>
            <div class="text-image">
                <p class="lead">
                    Peradaban Mesir Kuno dikenali dari penggunaan teknologi sederhana berupa kombinasi dari tuas, bidang miring dan perkakas batu 
                    untuk suatu proses konstruksi besar seperti Piramida. Peradaban mesir kuno juga berkontribusi besar dalam perkembangan 
                    teknologi maritim, seperti dalam pembuatan kapal dan mercusuar. Selain itu pada masa ini banyak pula didirikan bangunan-bangunan 
                    monumental seperti Piramid, Perpustakaan Alexandria, Patung Sfinx dan Mercusuar Alexandria. Hal ini menunjukan bahwa peradaban 
                    mesir kuno merupakan peradaban yang sangat canggih pada masanya. Irigasi untuk kepentingan pertanian juga sangat berkembang 
                    pada masa peradaban Mesir kuno. Pada bidang astronomi peradaban mesir kuno telah mengetahui periode revolusi bumi 
                    mengelilingi matahari yakni selama 365 hari, serta membuat jam matahari.
                </p>
                <div class="text-center">
                    <img src="../assets/images/zaman-mesir.jpg" class="rounded">
                </div>
            </div>
        </div>

        <div class="paragraph">
            <h3>
                Teknologi zaman kuno
                <small class="text-body-secondary">Peradaban Mesopotamia</small>
            </h3>
            <div class="text-image">
                <p class="lead">
                    Peradaban Tiongkok dikenal karena penemuan kertas, bubuk mesiu, pendeteksi gempa dan layang-layang. Peradaban Tiongkok juga 
                    dikenal karena aktivitas penjelajahannya hingga mencapai benua Afrika. Pada aktivitas ekonomi, peradaban Tiongkok merupakan 
                    peradaban pertama yang menggunakan uang kertas dan memperkenalkan konsep asuransi
                </p>
            </div>
        </div>

        <div class="paragraph">
            <h3>
                Teknologi zaman kuno
                <small class="text-body-secondary">Peradaban Inca dan Maya</small>
            </h3>
            <div class="text-image">
                <p class="lead">
                    Peradaban Inca dan Maya terkenal oleh kemampuannya dibidang arsitektur,astronomi dan pertanian. Peradaban ini yang 
                    memperkenalkan pertamakali konsep pertanian hidroponik. Macchu Picchu adalah situs peninggalan peradaban Inca yang sangat 
                    kompleks bahkan untuk standar kini.
                </p>
            </div>
        </div>

        <div class="paragraph">
            <h3>
                Perkembangan Teknologi
                <small class="text-body-secondary">Pada Abad 20</small>
            </h3>
            <div class="text-image">
                <p class="lead">
                    Abad ke-20 diawali oleh dua perang dunia. Perang dunia turut berkontribusi terhadap kemajuan teknologi militer tiap-tiap negara. 
                    Dimana pada akhirnya banyak dari teknologi militer yang diterapkan untuk kepentingan sipil. Mekanika kuantum yang merupakan 
                    tonggak dari lahirnya fisika modern juga lahir pada abad ke-20. Penemuan bom atom mengungkap potensi pemanfaatan dan bahaya 
                    energi nuklir. Penemuan transistor yang dianggap salah satu penemuan terpenting manusia nantinya akan mengubah ukuran komputer 
                    jauh lebih kecil dari mula-mula. Selain perang dunia kedua, perang dingin juga turut berkontribusi terhadap kemajuan 
                    teknologi antariksa. Pada masa ini manusia pertama kali dapat mendarat di bulan. Penemuan DNA pada masa ini membuka babap baru 
                    dari ilmu genetik. Teknologi vaksinasi masal menurunkan angka kematian akibat wabaah penyakit seperti cacar dan polio terutama 
                    pada negara berkembang hingga kemudian penduduk Bumi meningkat sekitar tiga kali lipat dalam kurun waktu kurang dari satu 
                    abad. Di akhir abad ke-20 internet mulai diperkenalkan untuk kepentingan sipil dan komersial, arus informasi pun bertukar 
                    dengan sangat cepat apalagi setelah diperkenalkannya telepon genggam. Selain itu pada abad 20 merupakan masa dimulainya 
                    inovasi terhadap peralatan rumah tangga seperti kulkas, pembersih vakum, dan microwave.
                </p>
                <div class="text-center">
                    <img src="../assets/images/abad-20.jpg" class="rounded">
                </div>
            </div>
        </div>
        
        <div class="paragraph">
            <h3>
                Perkembangan Teknologi
                <small class="text-body-secondary">Pada Abad 21</small>
            </h3>
            <div class="text-image">
                <p class="lead">
                    Abad ke-21 disebut juga abad digital karena masifnya digitalisasi disegala bidang. Ukuran transistor yang dapat diperkecil 
                    hingga berorde nanometer[38] membuat hampir semua perangkat yang digunakan oleh manusia dapat diintegrasikan dengan komputer 
                    dan internet. Bidang penelitian populer pada abad-21 atau saat ini diantaranya, komputer kuantum, terapi gen, teknologi 
                    nuklir, teknik material, kecerdasan buatan, dan energi terbarukan. Rover, merupakan robot buatan NASA yang bertugas untuk 
                    mengeksplorasi permukaan Planet Mars. Keberhasilan teknologi dibidang eksplorasi antariksa pada abad-21 diantaranya : <br><br>
                    • Pendaratan robot eksplorasi di Mars<br>
                    • Penemuan aid di Bulan<br>
                    • Penemuan air di planet Mars<br>
                    • Pendaratan pertama pesawat antariksa di Komet<br>
                    • Penemuan tujuh planet layak huni di luar tata surya<br><br>
                    Keberhasilan teknologi di bidang fisika pada abad ke-21 diantaranya :<br><br>
                    • Penemuan partikel Higgs-boson<br>
                    • Penentuan umur alam semesta menjadi 13.8 miliar tahun<br>
                    • Terdeteksinya gelombang gravitasi sesuai teori relativitas umum Einstein<br><br>
                    Keberhasilan teknologi di bidang medis pada abad ke-21 diantaranya :<br><br>
                    • Pembentukan DNA buatan<br>
                    • Penyelesaian proyek genom manusia<br>
                    • pengembangan vaksin kanker serviks<br><br>
                    Keberhasilan teknologi di bidang teknologi informasi pada abad ke-21 diantaranya :<br><br>
                    • Pengembangan teknologi layar sentuh<br>
                    • Jaringan 3G dan 4G LTE<br>
                    • Pengaplikasian internet disegala bidang

                </p>
                <div class="text-center">
                    <img src="../assets/images/abad-21.jpg" class="rounded">
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</body>
</html>